$header-height: 100px;

body{
    font-family: Chilanka;
}

.div-header{
    background-color: grey;

    h1, h2{    
        text-align: center;    
    }

    .div-header-logo{
        background-color: cadetblue;         
        div{
            color: aqua;               
            display: flex;
            justify-content: center;
            align-items: center;
            height: $header-height;          
        }                   
    }  
    .my-icons{                
        color: rebeccapurple;
        font-size: 100px;
    } 
}