$header-height: 100px;

.div-header{
    background-color: black;

    h1, h2{    
        text-align: center;
    }

    .div-header-logo{
        background-color: cadetblue;         
        div{
            color: aqua;               
            display: flex;
            justify-content: center;
            align-items: center;
            height: $header-height;
        }                   
    }    
}